.highlights .banner-bg-1 {
    background-image: url(../images/banner/FY-highlights-cover.webp);
    background-position: center;
    height: 900px;
}


.highlights .KFI .counter-up-wrapper .counter-single{
    border-right: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 40px;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    width: 150px;
    transition: transform 0.3sease, box-shadow 0.3s ease;
}

.highlights .OH .counter-up-wrapper .counter-single {
    border-right: none;
    background: #fff;
    backdrop-filter: blur(10px);
    padding: 40px;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    width: 150px;
    height: 300px;
    transition: transform 0.3sease, box-shadow 0.3s ease;
}

.highlights .counter-up-wrapper .counter-single .inner .title::after{
    
    background: #fff;
}

.highlights .counter-up-wrapper .counter-single .inner .title{
    color: var(--color-secondary);
}

.highlights  .counter-up-wrapper .counter-single .inner p{
    color: #fff;
}

.highlights .OH .counter-up-wrapper .counter-single .inner p{
    color: var(--color-primary);
}

.highlights .OH .counter-up-wrapper .counter-single .inner .title::after{
    
    background: var(--color-primary);
}

.highlights .counter-up-wrapper {
    justify-content: center;
}

/* .highlights .counter-up-wrapper .counter-single .inner .title span{
    font-size: 60px;
} */


.highlights .OH .counter-up-wrapper .counter-single .inner img{
    width: 50px;
    margin-bottom: 15px;
}

.ESGH .title-area-left-three-large .title{
    color: var(--color-text);
}

.ESGHtextContainer{
    align-items: center;
    display: flex;
}

.ESGHtext{
    color: var(--color-text);
    margin-left: 30px;
}

.ESGHtext h3{
    color: var(--color-text);
}



/*****************************/

.shareholderInfo .rts-section-gapTop{
    padding-top: 50px;
}

.shareholderInfo .cta-main-wrapper-one .cta-mid-area .title{
    font-size: 50px;
}

.shareholderInfo .cta-main-wrapper-one{
    justify-content: flex-start;
    padding: 30px 30px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.shareholderInfo .cta-main-wrapper-one:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.shareholderInfo .cta-main-wrapper-one .cta-mid-area p.disc{
    color: #fff;
}

.shareholderInfo .chartCard{
    background: #fff;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    padding: 25px;
    text-align: center;
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shareholderInfo .chartCard:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.shareholderInfo .details ul li {
    color: #fff;
}