@import url("./template.css");

/* .rts-header-area-two {
    position: relative;
    background: linear-gradient(264.71deg, #8736c4 2.11%, #4f008c 58.87%) !important;
} */

.journeyList li{
    color: #fff;
}

.ourJourney .portfolio-main-wrapper-portfolio-8 .banner-area-portfolio-eight .banner-main-wrapper{
    position: absolute;
    bottom: 250px;
    left: 320px;
    width: 800px;
}